AJWT/sample.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT price_marketcap (crypt)+>
<!ATTLIST price_marketcap
  xmlns CDATA #FIXED ''>

<!ELEMENT crypt (name,price,marketcap)>
<!ATTLIST crypt
  xmlns CDATA #FIXED ''>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  xmlns CDATA #FIXED ''>

<!ELEMENT price (#PCDATA)>
<!ATTLIST price
  xmlns CDATA #FIXED ''>

<!ELEMENT marketcap (#PCDATA)>
<!ATTLIST marketcap
  xmlns CDATA #FIXED ''>
